# Creating Pandas Dataframes with HydroFunctions!
If you are working with Python and timeseries data, then you should already know about Pandas and Numpy, the numerical system it is built upon. These two data analysis packages are involved in almost all scientific data analysis, and are the starting point for hundreds of projects.

Hydrofunctions is a Python package designed to make hydrologic analysis easier in Python. It contains an easy to use system for requesting data from the National Water Information System here in the US, and we have plans to expand that to data providers around the world. Visit our [GitHub](https://github.com/mroberge/hydrofunctions) website if you would like to help!

In [1]:
# Let's start by importing hydrofunctions
import hydrofunctions as hf
print(hf.__version__)
# and instructing our notebook to automatically display our graphs.
%matplotlib inline

0.1.8dev

In [8]:
# We'll request the past day of data for USGS site #08395500
test = hf.NWIS('08395500', 'iv', period='P1D')

Requested data from https://waterservices.usgs.gov/nwis/iv/?format=json%2C1.1&sites=08395500&period=P1D

In [10]:
# the method .df() with no arguments returns the entire dataset.
# .head() just shows the first five rows.
test.df().head()

,USGS:08395500:00060:00000_qualifiers,USGS:08395500:00060:00000,USGS:08395500:00065:00000_qualifiers,USGS:08395500:00065:00000
datetime,,,,
2019-03-13 00:30:00+00:00,P,59.8,P,4.17
2019-03-13 00:45:00+00:00,P,64.1,P,4.21
2019-03-13 01:00:00+00:00,P,66.4,P,4.23
2019-03-13 01:15:00+00:00,P,66.4,P,4.23
2019-03-13 01:30:00+00:00,P,66.4,P,4.23

In [11]:
# You can also explicitly ask for everything using the 'all' parameter.
test.df('all').head()

,USGS:08395500:00060:00000_qualifiers,USGS:08395500:00060:00000,USGS:08395500:00065:00000_qualifiers,USGS:08395500:00065:00000
datetime,,,,
2019-03-13 00:30:00+00:00,P,59.8,P,4.17
2019-03-13 00:45:00+00:00,P,64.1,P,4.21
2019-03-13 01:00:00+00:00,P,66.4,P,4.23
2019-03-13 01:15:00+00:00,P,66.4,P,4.23
2019-03-13 01:30:00+00:00,P,66.4,P,4.23

In [12]:
# This site collects stage and discharge data.
# When you request a parameter like discharge, we'll assume that you only want the data, not the qualifier flags. 
test.df('discharge').head()

                           USGS:08395500:00060:00000
datetime
2019-03-13 00:30:00+00:00                       59.8
2019-03-13 00:45:00+00:00                       64.1
2019-03-13 01:00:00+00:00                       66.4
2019-03-13 01:15:00+00:00                       66.4
2019-03-13 01:30:00+00:00                       66.4

In [13]:
# If you ask for the flags, we'll give all of them to you.
test.df('flags').head()

,USGS:08395500:00060:00000_qualifiers,USGS:08395500:00065:00000_qualifiers
datetime,,
2019-03-13 00:30:00+00:00,P,P
2019-03-13 00:45:00+00:00,P,P
2019-03-13 01:00:00+00:00,P,P
2019-03-13 01:15:00+00:00,P,P
2019-03-13 01:30:00+00:00,P,P

In [14]:
# You can specify more than one argument if you only want the flags for discharge, for example.
test.df('discharge', 'flags').head()

                          USGS:08395500:00060:00000_qualifiers
datetime
2019-03-13 00:30:00+00:00                                    P
2019-03-13 00:45:00+00:00                                    P
2019-03-13 01:00:00+00:00                                    P
2019-03-13 01:15:00+00:00                                    P
2019-03-13 01:30:00+00:00                                    P