In [1]:
import hydrofunctions as hf

In [2]:
start = "2014-05-01"
end = "2014-06-01"
first = hf.NWIS("01585200", "dv", start, end)

In [3]:
first.json()

You must call .get_data() before calling .json().

In [4]:
first.df()

You must call .get_data() before calling .df().

In [5]:
first.get_data()

In [6]:
first.df()

            value
datetime
2014-05-01   12.0
2014-05-02    4.9
2014-05-03    3.6
2014-05-04    3.4
2014-05-05    3.1
2014-05-06    2.5
2014-05-07    3.0
2014-05-08    2.3
2014-05-09    2.2
2014-05-10    2.9
2014-05-11    2.3
2014-05-12    2.1
2014-05-13    2.0
2014-05-14    2.1
2014-05-15    2.2
2014-05-16   34.0
2014-05-17    2.9
2014-05-18    2.3
2014-05-19    2.1
2014-05-20    2.0
2014-05-21    2.6
2014-05-22    3.3
2014-05-23    1.8
2014-05-24    1.7
2014-05-25    1.6
2014-05-26    1.5
2014-05-27    9.2
2014-05-28    3.0
2014-05-29    5.8
2014-05-30    2.2
2014-05-31    1.6
2014-06-01    1.4

In [7]:
first.df().max()

value    34.0
dtype: float64